<!--
    文章管理基本组件
-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="utf-8"/>
    <title>后台布局</title>
    <link rel="stylesheet" href="../../public/assets/css/joshua.min.css"/>
</head>
<body>


<!--
    文章状态标签转换
-->
<div th:fragment="covertToStatusLabel (article)">
    <label th:if="${article.isDisable()}" class="ui red center aligned fluid label">被禁用</label>
    <label th:if="${not article.isDisable() and article.status.name() == 'RAW'}"
           class="ui grey  center aligned fluid label">未发布</label>
    <label th:if="${not article.isDisable() and article.status.name() == 'AUDITING'}"
           class="ui orange  center aligned fluid label">审核中</label>
    <label th:if="${not article.isDisable() and article.status.name() == 'PUBLISHED'}"
           class="ui green  center aligned fluid label">已发布</label>
    <label th:if="${not article.isDisable() and article.status.name() == 'REJECTED'}"
           class="ui red  center aligned fluid label">被驳回</label>
</div>

<!--
    文章表格分页组件
-->
<tfoot th:fragment="pagination (columnSpan)">
<tr>
    <th class="center aligned" th:colspan="${columnSpan}">
        <div th:replace="fragment/pagination :: basic"></div>
    </th>
</tr>
</tfoot>

<!--
    我的文章表格组件
-->
<table th:fragment="table (articles)" class="ui celled selectable compact table">
    <thead>
    <tr>
        <th class="six wide">文章标题</th>
        <th class="two wide">所属团契</th>
        <th class="two wide">状态</th>
        <th class="six wide">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${#lists.isEmpty(articles)}">
        <td colspan="4">当前还没有内容</td>
    </tr>
    <tr th:each="article : ${articles}">
        <td th:utext="${article.title}"></td>
        <td th:utext="${article.fellowship.displayName}"></td>
        <td>
            <div th:replace="article/table :: covertToStatusLabel (${article})"></div>
        </td>
        <td>
            <a class="ui tiny button" th:href="@{'/article/' + ${article.id} + '/preview'}">查看</a>
            <a th:if="${article.status.name() == 'RAW' or article.status.name() == 'REJECTED'}"
               class="ui tiny button" th:href="@{'/article/' + ${article.id} + '/edit'}">编辑</a>
            <a th:if="${article.status.name() == 'RAW'}"
               th:attr="data-id=${article.id}" class="ui publish article tiny button">发布</a>
            <a th:if="${article.status.name() == 'RAW' or article.status.name() == 'REJECTED'}"
               th:attr="data-id=${article.id}" class="ui delete article tiny button">删除</a>
        </td>
    </tr>
    </tbody>
    <div th:replace="article/table :: pagination(4)"></div>
</table>
</body>
</html>