<!--
HTML 头部基本组件，用于每个页面的头部引用
-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<!-- 基本组件标识 -->
<head th:fragment="head">

    <!--/* 定义页面标题，如果页面为定义标题，则使用默认标题 */-->
    <title th:text="${title} ?: #{gyt.title}"></title>

    <!--/* 定义默认字符编码 */-->
    <meta charset="UTF-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <meta name="description" th:content="${description} ?: #{gyt.description}"/>

    <meta name="author" th:content="#{gyt.author}"/>
    <meta name="keyword" th:content="#{gyt.keywords}"/>

    <!--/* 页面图标 */-->
    <link th:href="@{/assets/images/favicon.gif}" rel="icon"/>

    <!--/* 统一CSS样式引用 */-->
    <link th:href="@{/assets/css/joshua.min.css}" rel="stylesheet"/>

    <!--/* 百度统计 */-->
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?71971448905937c0321fcdd9d081714a";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

    <!--/* 百度自动推送 */-->
    <script>
        (function () {
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>
</head>

<script th:fragment="script" th:src="@{/assets/js/joshua.js}" charset="UTF-8"></script>
</html>
