<!--
    文章管理列表页面
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header :: head">
    <meta charset="UTF-8"/>
    <title>光音堂</title>
</head>
<body>

<div th:replace="adminFragment/admin-nav :: primary">导航栏</div>

<div class="ui admin layout root">
    <div th:replace="adminFragment/admin-layout :: header(${subtitle}, '文章管理')">布局标题</div>
    <div th:replace="article/table :: admin-table(${items})"></div>
    <div th:replace="fragment/layout :: csrf"></div>
</div>

<script th:replace="fragment/head :: adminScript"></script>
</body>
</html>