<!--/* 用户重置密码页面 */-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<!--/* 引用基本组件header中的header，head中的元素内容会被基本组件替换掉，这里面的内容仅用于本地测试 */-->
<head th:replace="fragment/header :: head">
    <meta charset="UTF-8"/>
    <title>光音堂</title>
    <link href="../public/assets/css/joshua.min.css" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragment/navigation :: primary">导航栏</div>

<div class="ui joshua main container">
    <div th:replace="fragment/layout :: header (#{gyt.header.forget})"></div>
    <div class="ui grid">
        <div class="sixteen wide column">
            <div class="ui labeled input">
                <label class="ui label">登录账号</label>
                <input class="user forget username" type="text" placeholder="您的登录名"/>
            </div>
        </div>
        <div class="sixteen wide column">
            <div class="ui labeled input">
                <label class="ui label">电子邮箱</label>
                <input class="user forget email" type="text" placeholder="确定您的账户邮箱"/>
            </div>
        </div>
        <div class="sixteen wide column">
            <button class="ui primary user forget button">重置密码</button>
        </div>
    </div>
</div>

<!--/* 引用页脚组件 */-->
<div th:replace="fragment/footer :: footer">页脚</div>
<!--/* 引用javascript脚本 */-->
<script th:replace="fragment/head :: frontScript"></script>
</body>
</html>