<!--/* 用户登录页面 */-->
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<!--/* 引用基本组件header中的header，head中的元素内容会被基本组件替换掉，这里面的内容仅用于本地测试 */-->
<head th:replace="fragment/header :: head">
    <meta charset="UTF-8"/>
    <title>光音堂</title>
    <link href="../public/assets/css/joshua.min.css" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragment/navigation :: primary">导航栏</div>

<div class="ui joshua main container">
    <div class="ui stackable grid">
        <div class="eleven wide computer only tablet only column">
            <div th:replace="fragment/layout :: header (#{gyt.header.login})"></div>
            <div th:replace="fragment/layout :: verse (#{verse.login.content}, #{verse.login.place})"></div>
            <div th:replace="fragment/layout :: picture ('staticPage/loginPage.jpg')"></div>
        </div>
        <div class="five wide column">
            <div th:if="${status == 'logout'}" class="ui success message">
                注销成功，请重新登录
            </div>
            <div th:if="${status == 'logonSuccess'}" class="ui success message">
                注册成功，请登录
            </div>
            <div th:if="${status == 'loginError'}" class="ui error message">
                登录失败，用户不存在或者密码错误
            </div>
            <div th:if="${status == 'logonError'}" class="ui error message">
                注册失败，用户名或邮箱已经存在
            </div>
            <div class="ui raised segment">
                <h3>老用户 在此登录</h3>
                <form class="ui form" action="#" th:action="@{/login}" th:object="${user}" method="post">
                    <div class="field">
                        <input type="text" th:field="*{username}" placeholder="用户名" minlength="8"/>
                    </div>
                    <div class="field">
                        <input type="password" th:field="*{password}" placeholder="密码" minlength="8"/>
                    </div>
                    <button class="ui button" type="submit">登录</button>
                    <a href="#" th:href="@{/forget}">忘记密码？</a>
                </form>
            </div>
            <div class="ui raised segment">
                <h3>新用户 在此创建您的账户</h3>
                <form class="ui form" action="#" th:action="@{/logon}" th:object="${user}" method="post">
                    <div class="field">
                        <input class="login nickname" type="text" th:field="*{nickname}" placeholder="昵称，用于显示您的网站称呼"
                               required="required"/>
                        <div class="ui popup">
                            <div class="header">账号昵称</div>
                            <div class="content">您的昵称将用于网站的显示，以及别人看到您的称呼</div>
                        </div>
                    </div>
                    <div class="field">
                        <input class="login username" type="text" th:field="*{username}" placeholder="用户名，至少为8位字母数字的组合"
                               required="required"
                               minlength="8"/>
                        <div class="ui popup">
                            <div class="header">用户名</div>
                            <div class="content">用户名是您登陆的ID，用户名必须以下划线或者字母开头，至少为8位，不区分大小写</div>
                        </div>
                    </div>
                    <div class="field">
                        <input class="login email" type="email" th:field="*{email}" placeholder="邮箱，用于找回密码"
                               required="required"/>
                        <div class="ui popup">
                            <div class="header">邮箱</div>
                            <div class="content">邮箱是找回密码的重要资料，请准确填写</div>
                        </div>
                    </div>
                    <div class="field">
                        <input class="login password" type="password" th:field="*{password}"
                               placeholder="密码，至少为8位字母数字的组合"
                               required="required"
                               minlength="8"/>
                        <div class="ui popup">
                            <div class="header">密码</div>
                            <div class="content">密码至少为8位，只能是数字和字母以及下划线的组合</div>
                        </div>
                    </div>
                    <button class="ui button" type="submit">注册</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--/* 引用页脚组件 */-->
<div th:replace="fragment/footer :: footer">页脚</div>
<!--/* 引用javascript脚本 */-->
<script th:replace="fragment/head :: frontScript"></script>
</body>
</html>